{% extends "users/base.html" %}
{% block body %}

<div class="jumbotron col-md-12">
    <h1 class="display-3" style="margin-left: 10px;">Report Generator</h1>
    <hr class="my-2">
</div>
<div class="row" style="margin-left: 30px;"> 
<p class="lead">
    <a class="btn btn-warning btn-lg" data-toggle="modal" data-target="#report_modal" role="button" style="color: white;">Generate Report</a>

    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#trails_info_modal" role="button" style="color: white;">View Quick Info</a>
</p>
</div>

{% endblock %}