{% extends 'supplier/base.html' %}%}
{% block body %}

            <div class="container" style="padding-top: 100px">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <div class="justify-content-center align-items-center">
                            <div class="alert alert-info">
                                <center>
                                    An Email Has Been Sent With Instructions To Reset Your Password
                                </center>
                            </div>
                            <center>
                                <a href="{% url 'login' %}">Sign In Here</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}