{% extends "serviceStation/base.html" %}
{% block body %}

<div style="margin-left: 30px;">
    <h1 class="display-3"> Fuel Station Updates </h1>
    <hr class="my-2">
    
      

</div>


<div class="col-md-12">
    <div class="card" style="background-color:white">
        
        <div class="card-header card-header-primary">
        <h4 class="card-title "></h4>
        </div>
    <div class="card-body">
            <button type="button" style="background-color:rgb(49, 60, 112);margin-left:auto;margin-right:auto;display:block;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_fuel">Make Fuel Updates</button> </p>
        <div class="container-fluid">
            {% if updates %}

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead style="color:white; background:lightslategray">
                    <th style="color:white;">
                        Date
                       </th>
                       <th style="color:white;">
                       Location
                         </th>
                       <th style="color:white;">
                        Fuel Type
                         </th>
                         <th style="color:white;">
                          Arrival Time
                           </th>
                        
                           <th style="color:white;">
                            Available Quantity 
                           </th>
                         <th style="color:white;">
                            Price/L 
                           </th>
                          <th style="color:white;">
                            Payment Method 
                           </th>
                           <th style="color:white;">
                            Queue Size 
                           </th>
                           <th style="color:white;">
                            Status 
                           </th>
                          <th style="color:white;">
                          Action
                        </th>
                   <tbody>
                       {% for update in updates %}
                       <tr>
                           <td>{{update.date}}</td>
                           <td>{{update.supplier.company.address}}</td>
                           <td>{{update.fuel_type}}</td>
                           <td>{{update.arrival_time}}</td>
                           <td>{{update.available_quantity}}</td>
                           <td>{{update.price}}</td>
                           <td>{{update.payment_method}}</td>
                           <td>{{update.queue_size}}</td>
                           <td>{{update.status}}</td>
                           <td>
                               <div class="btn-group">
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{update.id}}">Update</button>  
                                    

                               </div>
                            </td>
                            
           
                    </tr>
                               <!--update fuel-->
<div class="modal fade" id="{{update.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Quantity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">  

          {% load crispy_forms_tags %}
          <form action="{% url 'serviceStation:serviceStation' %}" method="POST">
              {% csrf_token %}
              {{fuel_update_form|crispy}}
          <button class="btn btn-primary" type="submit">Update</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
                    {% endfor %}   
                </tbody>
                </table>

            {% else %}
            <p>Nothing To SHow</p>    
            {% endif %}
              <!--update fuel-->
<div class="modal fade" id="add_fuel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update today's capacity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">  
    
                {% load crispy_forms_tags %}
                <form action="{% url 'serviceStation:serviceStation' %}" method="POST">
                    {% csrf_token %}
                    {{fuel_update_form|crispy}}
                <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>


                  <!--update fuel-->
<div class="modal fade" id="add_fuel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update today's capacity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">  
    
                {% load crispy_forms_tags %}
                <form action="{% url 'serviceStation:serviceStation' %}" method="POST">
                    {% csrf_token %}
                    {{fuel_update_form|crispy}}
                <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
    </div>
    
</div>
{% endblock %}